<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="/home.css">
   <title>Document</title>
</head>
<body>
   <nav class="menu">
      <ul>
         <li class="lista-item">
            <a href="#">
                <i class="fa fa-angellist"></i>
                <span class="span-menu"> Logo </span>
            </a>
        </li>

        <li class="lista-item">
            <a href="#">
                <i class="fa fa-feed"></i>
                <span class="span-menu"> Conexão </span>
            </a>
        </li>

        <li class="lista-item">
            <a href="#">
                <i class="fa fa-commenting"></i>
                <span class="span-menu"> Comentários </span>
            </a>
        </li>

        <li class="lista-item">
            <a href="#">
                <i class="fa fa-search"></i>
                <span class="span-menu"> Pesquisar </span>
            </a>
        </li>

        <li class="lista-item">
            <a href="#">
                <i class="fa fa-clock-o"></i>
                <span class="span-menu"> Empresa </span>
            </a>
        </li>

        <li class="lista-item">
            <a href="#">
                <i class="fa fa-bar-chart"></i>
                <span class="span-menu"> Estatísticas </span>
            </a>
        </li>

        <li class="lista-item">
            <a href="#">
                <i class="fa fa-product-hunt"></i>
                <span class="span-menu"> Parametrôs </span>
            </a>
        </li>

        <li class="lista-item">
            <a href="#">
                <i class="fa fa-server"></i>
                <span class="span-menu"> Registros </span>
            </a>
        </li>

        <li class="lista-item">
            <a href="#">
                <i class="fa fa-database"></i>
                <span class="span-menu"> Banco de Dados </span>
            </a>
        </li>

        <li class="lista-item">
            <a href="#">
                <i class="fa fa-industry"></i>
                <span class="span-menu"> Produção </span>
            </a>
        </li>

        <li class="lista-item">
            <a href="#">
                <i class="fa fa-mail-forward"></i>
                <span class="span-menu"> Logout </span>
            </a>
        </li>

        <li class="lista-item">
            <a href="#">
                <i class="fa fa-user"></i>
                <span class="span-menu"> Contato </span>
            </a>
        </li>

        <li class="lista-item">
            <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="span-menu"> Email </span>
            </a>
        </li>

        <li class="lista-item">
            <a href="#">
                <i class="fa fa-question-circle"></i>
                <span class="span-menu"> Dúvidas </span>
            </a>
        </li>
      </ul>
   </nav>
</body>
</html>